{% load static %}

<div class="col-12 col-lg col-sections align-self-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-xl-6">
            <form id="spaceNameBox" class="space-box form animated fadeInLeft">
                <h4 class="mb-4">What's the name of your company or team?</h4>
                <div class="form-group forms">
                    <input type="text" class="form-control form-input" id="companyName" aria-describedby="name" autocomplete="off">
                    <span class="input-line" data-placeholder="Ex. Arianalabs"></span>
                </div>
                <div class="form-group forms slug-form">
                    <input type="text" class="form-control form-input" id="companySlug" aria-describedby="slug" autocomplete="off" >
                    <span class="bilono-slug">.bilono.com</span>
                    <span class="input-line" data-placeholder="Ex. arianalabs"></span>
                    <span class="red-border d-none"></span>
                </div>
                <button type="button" class="btn btn-block login-btn my-3 space-btn" id="spaceNameBtn" box="space-info-container ">Next</button>
                <small class="text-muted">By continiuing you're agreeing to our <a href="#">Customer Terms of Service</a>,<a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy</a>.</small>
            </form> 
        </div>
    </div>               
</div>
<div class="col-lg col-sections d-none d-lg-inline-block">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-xl-6">
            <img class="img-fluid" src="{% static 'image/name_company.svg' %}" />
        </div>
    </div>
</div>