{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-12 col-lg col-sections align-self-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-xl-6">
            <div id="spaceAlertBox" class="space-box form animated fadeInLeft">
                <h3 class="mb-4">{% trans "TADA! Visit your space!" %}</h3>
                <small class="text-muted">{% trans "A space is a safe enviornment for your and your team. Everyone can appreciate another teammate for the work they've done in a fun and happy way:) More importantly you can encourage another by giving points so they can do a lot of cool stuff!" %}</small>
                <button type="button" id="tadaBtn" class="space-btn btn btn-block my-3">{% trans "See your space in Bilono" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg col-sections d-none d-lg-inline-block">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-xl-6">
            <img class="img-fluid" src="{% static 'image/tada.svg' %}" />
        </div>
    </div>
</div>
