{% extends './../../base2.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
<!-- TODO -->
<link rel="stylesheet" href="{% static 'webpack:get_started.css' %}" />
{% endblock %}

{% block body %}
    <div class="content mb-5">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <div class="get-started-box choose-path-box pt-5 pl-5 pr-5 pb-0 animated fadeInLeft">
                    {% if spaces %}
                        <h4>{% trans "Find your Bilono space" %}</h4>
                        <small class="text-muted">{% trans "find existing workspaces you’ve joined or can join." %}</small>
                        <hr />
                        {% for space in spaces %}
                            <a style="text-decoration: none;color: rgb(0, 0, 0);" class="choose-path-link" data-id="{{ space.id }}" href="{% url 'frontview:dashboard:feed' space.slug %}">
                                <span class="path-text">
                                    <h2 style="margin: 0;">- {{ space.name }}</h2>
                                </span>
                                <span class="material-icons chevron">chevron_right</span>
                            </a>
                            <hr />
                        {% endfor %}
                    {% else %}
                        <h4>{% trans "You dont have any active space !" %}</h4>
                    {% endif %}
                    <img class="img-fluid" src="{% static 'image/find_your_space.svg' %}" />
                </div>
            </div>
        </div>
    </div>

    {% include './../../footer.html' %}

{% endblock %}

{% block script %}{% endblock %}
