{% extends './../base2.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block head %}
    <link rel="stylesheet" href="{% static 'webpack:get_started.css' %}" />
{% endblock %}

{% block body %}
    <div class="content mb-5">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <div class="get-started-box choose-path-box pt-5 pl-5 pr-5 pb-0 animated fadeInLeft">
                    <h4>{% trans "Start with a space" %}</h4>
                    <small class="text-muted">{% trans "In Bilono, everything happens in a space. Like a virtual office building, a space is where your team can gather in Bilono to recognize eachother and have fun." %}</small>
                    <hr />
                    <button class="choose-path-link" location="find_space" id="findSpaceBtn">
                        <span class="material-icons px-3">search</span>
                        <span class="path-text">
                            <h6>{% trans "Find your Bilono Space" %}</h6>
                            <small class="text-muted">{% trans "join or sign in to existing spaces" %}</small>
                        </span>
                        <span class="material-icons chevron">chevron_right</span>
                    </button>
                    <hr />
                    <button class="choose-path-link" box="new-space-email-box" location="create_space" id="newSpaceBtn">
                        <span class="material-icons px-3">add</span>
                        <span class="path-text">
                            <h6>{% trans "Create a new Space" %}</h6>
                            <small class="text-muted">{% trans "Get your company or organization on Bilono" %}</small>
                        </span>
                        <span class="material-icons chevron">chevron_right</span>
                    </button>
                    <hr />
                    <img class="img-fluid" src="{% static 'image/start_with_a_space.svg' %}" />
                </div>
            </div>
        </div>
    </div>

    {% include './../footer.html' %}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'webpack:get_started.js' %}"></script>
{% endblock %}
