// ... background colors ...
$header-bg: #ebeeef;
$sidebar-bg: #236074;
$sidebar-link-hover: #104151;

// ... colors ...
$white: #ffffff;
$black: #000000;

// ... size ...
$header-height: 70px;
$sidebar-width: 200px;

// ... margin and paddings ...
$sidebar-padding: 20px;