@import "./../utilities/variables";
@import "./../utilities/mixins";

%transform-inputs {
    border: none;
    box-shadow: none;

    ~ .input-line {
        &::before {
            width: 100%;
        }
        &::after {
            @include transform(translate(-13%, -90%) scale(0.7));
            color: rgba(255, 255, 255, .60);
        }
    }
}

@font-face {
    font-family: 'regularLoginFont';
    src: url('/static/fonts/opificio/Opificio_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regularLoginFont';
    src: url('/static/fonts/opificio/Opificio_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regularLoginFont';
    src: url('/static/fonts/opificio/Opificio_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'roundedLoginFont';
    src: url('/static/fonts/opificio/Opificio_light_rounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roundedLoginFont';
    src: url('/static/fonts/opificio/Opificio_rounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roundedLoginFont';
    src: url('/static/fonts/opificio/Opificio_Bold_rounded.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    
    font-family: 'roundedLoginFont', Tahoma, Geneva, sans-serif;
    .container-fluid {

        padding: 0;
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
    
        .row {
    
            height: 100%;
            .col-sections {
    
                height: 100%;
    
                &.login-wrapper {
    
                    height: 100%;
                    position: relative;
                    background-image: linear-gradient($login-gradient-start, $login-gradient-end);
    
                    .form {
                        vertical-align: middle;
                        margin: auto;
                        text-align: center;
    
                        .login-form-logo {
    
                            margin: 30px auto;
                            color: $white;
                            .login-logo {
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                                margin: auto;
                                background-color: $white;
    
                                img {
                                    width: 70px;
                                    height: 70px;
                                    margin: 15px;
                                }
                            }
    
                            p {
                                font-size: 30px;
                                padding-top: 20px;
                                font-weight: bold;
                            }
                        }
    
                        .form-group {
                            &.forms {
    
                                width: 100%;
                                height: 45px;
                                position: relative;
                                border-bottom: 2px solid rgba(255, 255, 255, .25);
        
                                input {
                                    width: 100%;
                                    height: 100%;
                                    margin: auto;
                                    background: 0 0; 
                                    color: $white;
                                    border: none;
        
                                    &.has-val {
                                        @extend %transform-inputs;
                                    }
    
                                    &:focus {
                                        @extend %transform-inputs;
                                    }
                                }
        
                                .input-line {
        
                                    position: absolute;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    pointer-events: none;
        
                                    &::before {
                                        content: '';
                                        display: inline-block;
                                        width: 100%;
                                        height: 2px;
                                        position: absolute;
                                        left: 0;
                                        bottom: -2px;
                                        width: 0;
                                        background-color: $white;
                                        @include transition(all .4s ease-in);
                                    }
        
                                    &::after {
                                        color: $white;
                                        font-size: 18px;
                                        content: attr(data-placeholder);
                                        display: block;
                                        width: 100%;
                                        position: absolute;
                                        top: 6px;
                                        left: 0;
                                        padding-left: 5px;
                                        text-align: left;
                                        @include transition(all .4s ease-in);
                                    }
                                }
                            }
                        }
    
                        .remember-form {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 13px;
    
                            label {
                                color: rgba(255, 255, 255, .60);
                            }
    
                            a {
                                color: rgba(255, 255, 255, .60);
                                text-decoration: none;
                            }
                        }
    
                        .social-logins {
                            p {
                                color: $white;
                            }
    
                            .auth-logins {
                                width: 25px;
                                height: auto;
                                cursor: pointer;
                                display: inline-block;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
    
                        .remember-me {
                            color: $white;
                        }
    
                        button {
                            width: 80%;
                            margin: auto;
                            border-radius: 50px;
                        }
    
                        .sign-up-section {
                            > div {
                                width: 100%;
                                color: $white;
                                a {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            } 
        }
    } 
}

@media (max-width: 767.98px) {
    .form {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .form {
        width: 60%;
        position: absolute;
        left: 20%;
    }
}

@media (min-width: 1400px) {
    .form {
        height: 70%;
        position: absolute;
        top: 15%;
    }
}

@media (min-width: 1800px) {
    .form {
        width: 40%; 
        left: 30%;
        .sign-up-section {
            > div {
                position: absolute;
                bottom: 0;
            }
        }
    }
}