{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="get-started-box find-space-code-box pt-5 pl-5 pr-5 pb-0 d-none animated fadeInLeft">
    <h4>{% trans "Check your email!" %}</h4>
    <small class="text-muted">{% trans "Please check your inbox and enter the six digit code below to continue." %}</small>
    <form class="mt-2 mb-1">
        <div class="d-flex digit-confirmation mb-2">
            <input type="text" index="1" name="char[1]" class="digit-cell form-control d-inline-block border-right-0 rounded-left">
            <input type="text" index="2" name="char[2]" class="digit-cell form-control d-inline-block border-right-0 rounded-0">
            <input type="text" index="3" name="char[3]" class="digit-cell form-control d-inline-block rounded-right">
            <span class="mx-2">_</span>
            <input type="text" index="4" name="char[4]" class="digit-cell form-control d-inline-block border-right-0 rounded-left">
            <input type="text" index="5" name="char[5]" class="digit-cell form-control d-inline-block border-right-0 rounded-0">
            <input type="text" index="6" name="char[6]" class="digit-cell form-control d-inline-block rounded-right">
        </div>
        <div class="countdown mt-3 fadeIn">
            <div class="timer">
                <div class="minutes d-inline-block"></div>
                :
                <div class="seconds d-inline-block"></div>
            </div>
            <div class="resend-email d-none">
                <a href="#" id="resendEmail">{% trans "Resend Email" %}</a>
            </div>
        </div>
        <!-- <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae reprehenderit perspiciatis, et ex nihil ad hic eius, maxime, temporibus voluptates ducimus soluta aperiam vitae tempora. Repellat voluptatibus illum temporibus.</small> -->
    </form>
    <div class="text-center">
        <img class="img-fluid mx-auto" src="{% static 'image/code_email.svg' %}" />
    </div>
</div>
