.container button {
  background-color: #4a5cc5;
  color: #ffffff;
}
.container button:hover, .container button:focus {
  color: #ffffff;
}
.container .budget-table .table-head {
  margin-bottom: 1rem;
}
.container .budget-table .table-body {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 1rem;
  min-height: 70px;
  box-shadow: 1px 1px 5px 1px #7785d3;
}
