.container button.standard-btn {
  background-color: #4a5cc5;
  color: #ffffff;
  border: none;
}
.container button.standard-btn:hover, .container button.standard-btn:focus {
  color: #ffffff;
  background-color: #4a5cc5;
  --box-shadow-color: $tint-blue-color5;
}
.container .budget-table .table-head {
  margin-bottom: 1rem;
}
.container .budget-table .table-body {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 1rem;
  min-height: 70px;
  box-shadow: 1px 1px 5px 1px #a5ade2;
}
.container .modal button.standard-btn {
  max-width: 200px;
}

@media (min-width: 576px) {
  .modal .modal-dialog {
    max-width: 700px;
  }
  .modal .modal-dialog .modal-body {
    padding: 1rem 6rem;
  }
  .modal .modal-dialog .modal-body select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    -moz-border-radius: 0px;
  }
  .modal .modal-dialog .modal-body .collapse {
    max-height: 300px;
    overflow: scroll;
  }
  .modal .modal-dialog .modal-body .collapse .search-item {
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
}
