.form-group.forms input:focus, .form-group.forms input.has-val {
  border: none;
  box-shadow: none;
}
.form-group.forms input:focus ~ .input-line::before, .form-group.forms input.has-val ~ .input-line::before {
  width: 100%;
}
.form-group.forms input:focus ~ .input-line::after, .form-group.forms input.has-val ~ .input-line::after {
  -webkit-transform: translate(-13%, -90%) scale(0.7);
  -ms-transform: translate(-13%, -90%) scale(0.7);
  -moz-transform: translate(-13%, -90%) scale(0.7);
  -o-transform: translate(-13%, -90%) scale(0.7);
  transform: translate(-13%, -90%) scale(0.7);
  color: rgba(170, 182, 197, 0.6);
}

@font-face {
  font-family: "regularLoginFont";
  src: url("/static/fonts/opificio/Opificio_light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regularLoginFont";
  src: url("/static/fonts/opificio/Opificio_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regularLoginFont";
  src: url("/static/fonts/opificio/Opificio_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roundedLoginFont";
  src: url("/static/fonts/opificio/Opificio_light_rounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roundedLoginFont";
  src: url("/static/fonts/opificio/Opificio_rounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roundedLoginFont";
  src: url("/static/fonts/opificio/Opificio_Bold_rounded.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.form-group.forms {
  width: 100%;
  height: 45px;
  position: relative;
  border-bottom: 2px solid rgba(170, 182, 197, 0.25);
}
.form-group.forms input {
  width: 100%;
  height: 100%;
  margin: auto;
  background: 0 0;
  border: none;
}
.form-group.forms .input-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.form-group.forms .input-line::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  background-color: #AAB6C5;
  -webkit-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.form-group.forms .input-line::after {
  color: #AAB6C5;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0;
  padding-left: 5px;
  text-align: left;
  -webkit-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.social-logins p {
  color: #ffffff;
}
.social-logins .auth-logins {
  width: 25px;
  height: auto;
  cursor: pointer;
  display: inline-block;
}
.social-logins .auth-logins img {
  width: 100%;
  height: auto;
}

.bilono-logo {
  max-width: 100px;
}

button, a {
  outline: none !important;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
  left: auto !important;
  right: 0 !important;
}

.header {
  background: #ff3e58 !important;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

nav.bilino-navbar .navbar-profile-wrapper::after, nav.bilino-navbar .bilono-space-wrapper::after, nav.bilino-navbar .navbar-logo::after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #e8ebf8;
  position: absolute;
  bottom: 0;
  right: 15px;
}

nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
nav.bilino-navbar {
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.bilino-navbar .navbar-logo {
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #ff3e58;
  font-size: 150%;
  font-weight: bold;
  position: relative;
  text-align: center;
}
nav.bilino-navbar .navbar-logo .bilono-logo {
  height: 100%;
  width: auto;
  padding: 10px 0;
}
nav.bilino-navbar .bilono-space-wrapper {
  padding-left: 20px;
  position: relative;
}
nav.bilino-navbar .bilono-space-wrapper > div {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}
nav.bilino-navbar .navbar-profile-wrapper {
  position: relative;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile {
  height: 100px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  display: flex;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info .user-logo {
  width: 35px;
  background: #4a5cc5;
  color: #ffffff;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info .user-logo span {
  line-height: 35px;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info .user-logo img {
  border-radius: 50%;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info .user-info-credit {
  width: 100%;
  text-align: left;
  display: inline-block;
  display: flex;
  flex-direction: column;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info .user-info-credit .points-container .points {
  background-color: #ff3e58;
  display: inline-block;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8em;
  min-width: 40px;
  padding: 0 5px;
  text-align: center;
}
nav.bilino-navbar .navbar-profile-wrapper .navbar-profile .user-info .user-info-credit .points-container img {
  max-width: 18px;
  height: auto;
}
nav.bilino-navbar .navbar-profile-wrapper #userProfile {
  padding-left: 20px;
}
nav.bilino-navbar .navbar-profile-wrapper #userProfile a {
  color: #26282C;
  font-size: 0.9rem;
}
nav.bilino-navbar .navbar-profile-wrapper #userProfile .username {
  position: relative;
  font-weight: bold !important;
  color: #4a5cc5;
}
nav.bilino-navbar .navbar-profile-wrapper #userProfile .username::after, nav.bilino-navbar .navbar-profile-wrapper #userProfile .username::before {
  content: "";
  width: calc(100% - 15px);
  height: 1px;
  background-color: #e8ebf8;
  position: absolute;
  right: 15px;
}
nav.bilino-navbar .navbar-profile-wrapper #userProfile .username::after {
  bottom: 0;
}
nav.bilino-navbar .navbar-profile-wrapper #userProfile .username::before {
  top: 0;
}
nav.bilino-navbar .navbar-links ul.navbar-nav li.nav-item {
  height: 50px;
  line-height: 50px;
}
nav.bilino-navbar .navbar-links ul.navbar-nav li.nav-item.active > a.nav-link {
  color: #26282C;
}
nav.bilino-navbar .navbar-links ul.navbar-nav li.nav-item.active::before {
  content: "";
  width: 3px;
  height: 50px;
  background-color: #1d33b6;
  position: absolute;
  right: 0;
}
nav.bilino-navbar .navbar-links ul.navbar-nav li.nav-item a.nav-link {
  padding: 0 20px;
  color: #AAB6C5;
}
nav.bilino-navbar .navbar-links ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #26282C !important;
}
nav.bilino-navbar .navbar-links ul.navbar-nav li.nav-item a.nav-link img {
  max-width: 30px;
  height: auto;
}
nav.bilino-navbar .material-icons {
  -webkit-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
nav.bilino-navbar .material-icons.toggle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 991.98px) {
  nav.bilino-navbar.side-is-visible {
    width: 250px;
    opacity: 1;
  }
  nav.bilino-navbar.side-is-hidden {
    width: 0;
    opacity: 0;
  }
}
@media (min-width: 992px) {
  nav {
    width: 250px;
  }
}
.user-info {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  display: flex;
}
.user-info .user-logo {
  width: 35px;
  background: #4a5cc5;
  color: #ffffff;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}
.user-info .user-logo span {
  line-height: 35px;
}
.user-info .user-logo img {
  border-radius: 50%;
}
.user-info .user-info-credit {
  width: 100%;
  text-align: left;
  display: inline-block;
  display: flex;
  flex-direction: column;
}
.user-info .user-info-credit .points-container .points {
  background-color: #ff3e58;
  display: inline-block;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8em;
  min-width: 40px;
  padding: 0 5px;
  text-align: center;
}
.user-info .user-info-credit .points-container img {
  max-width: 18px;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e8ebf8;
}
body .container-fluid {
  padding: 0;
  margin: 0;
}
body .container-fluid .bilino-main.main-is-fully-visible {
  width: 100%;
}
body .container-fluid .bilino-main.main-is-partially-visible {
  width: 100%;
  padding-left: 250px;
}
