{% load static %}

<form id="spaceCreationAlert" class="space-creation-alert form animated fadeInLeft">
    <h3 class="mb-4">TADA! Visit your space!</h3>
    <small class="text-muted">A space is a safe enviornment for your and your team. Everyone can appreciate another teammate for the work they've done in a fun and happy way:) More importantly you can encourage another by giving points so they can do a lot of cool stuff!</small>
    <button type="submit" class="btn btn-block login-btn my-3">See your space in Bilono</button>
</form>