{% load static %}

<form id="spaceInfoBox" class="space-box form animated fadeInLeft d-none">
    <h3 class="mb-4">Please tell us more about your company?</h3>
    <div class="form-group forms dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Job Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Software</a>
          <a class="dropdown-item" href="#">Restaurant & Cafe</a>
          <a class="dropdown-item" href="#">Legal</a>
          <a class="dropdown-item" href="#">Hardware Store</a>
          <a class="dropdown-item" href="#">Hospital</a>
          <a class="dropdown-item" href="#">Beauty Salon</a>
          <a class="dropdown-item" href="#">School</a>
        </div>
    </div>
    <div class="form-group forms">
        <input type="text" class="form-control form-input" aria-describedby="team" autocomplete="off">
        <span class="input-line" data-placeholder="City"></span>
    </div>
    <div class="form-group forms">
        <input type="text" class="form-control form-input" aria-describedby="team" autocomplete="off">
        <span class="input-line" data-placeholder="number of team members"></span>
    </div>
    <button type="button" class="btn btn-block login-btn my-3 space-btn" id="spaceInfoBtn">Next</button>
    <small class="text-muted">By continiuing you're agreeing to our <a href="#">Customer Terms of Service</a>,<a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy</a>.</small>
</form>