{% load static %}

<div class="col-12 col-lg col-sections align-self-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-xl-6">
            <form id="spaceTeammatesBox" class="space-box form animated fadeInLeft">
                <h3 class="mb-4">Who is on your team?</h3>
                <div class="form-group forms">
                    <input type="email" class="form-control form-input" aria-describedby="email" autocomplete="off">
                    <span class="input-line" data-placeholder="Ex. name@example.com"></span>
                </div>
                <div class="form-group forms">
                    <input type="email" class="form-control form-input" aria-describedby="email" autocomplete="off">
                    <span class="input-line" data-placeholder="Ex. name@example.com"></span>
                </div>
                <div class="form-group forms">
                    <input type="email" class="form-control form-input" aria-describedby="email" autocomplete="off">
                    <span class="input-line" data-placeholder="Ex. name@example.com"></span>
                </div>
                <div class="add-teammate-link d-flex flex-row-reverse text-right">
                    <a href="#">add another</a>
                    <i class="material-icons px-1">add_circle_outline</i>
                </div>
                <button type="button" class="space-btn btn btn-block login-btn my-3" id="addTeammatesBtn" box="space-alert-container">
                    Add Teammates
                </button>
                <div class="add-teammate-link d-flex flex-row text-left">
                    <i class="material-icons px-1">link</i>
                    <a href="#">Get an invite link to share</a>
                </div>
                <br />
                Or, <a href="#" id="skipTeammates" box="space-alert-container">skip for now</a>
            </form> 
        </div>
    </div>               
</div>
<div class="col-lg col-sections d-none d-lg-inline-block">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-xl-6">
            <img class="img-fluid" src="{% static 'image/member_team.svg' %}" />
        </div>
    </div>
</div>