{% load static %}

<form id="spaceTeammatesBox" class="space-box form animated fadeInLeft d-none">
    <h3 class="mb-4">Who is on your team?</h3>
    <div class="form-group forms">
        <input type="email" class="form-control form-input" aria-describedby="email" autocomplete="off">
        <span class="input-line" data-placeholder="Ex. name@example.com"></span>
    </div>
    <div class="form-group forms">
        <input type="email" class="form-control form-input" aria-describedby="email" autocomplete="off">
        <span class="input-line" data-placeholder="Ex. name@example.com"></span>
    </div>
    <div class="form-group forms">
        <input type="email" class="form-control form-input" aria-describedby="email" autocomplete="off">
        <span class="input-line" data-placeholder="Ex. name@example.com"></span>
    </div>
    <div class="add-teammate-link d-flex flex-row-reverse text-right">
        <a href="#">add another</a>
        <i class="material-icons px-1">add_circle_outline</i>
    </div>
    <button type="button" class="space-btn btn btn-block login-btn my-3" id="addTeammatesBtn">
        Add Teammates
    </button>
    <div class="add-teammate-link d-flex flex-row text-left">
        <i class="material-icons px-1">link</i>
        <a href="#">Get an invite link to share</a>
    </div>
    <br />
    Or, <a href="#">skip for now</a>
</form>