{% load static %}

<form id="spaceNameBox" class="space-box form animated fadeInLeft">
    <h3 class="mb-4">What's the name of your company or team?</h3>
    <div class="form-group forms">
        <input type="text" class="form-control form-input" aria-describedby="team" autocomplete="off">
        <span class="input-line" data-placeholder="Ex. Arianalabs"></span>
    </div>
    <button type="button" class="btn btn-block login-btn my-3 space-btn" id="spaceNameBtn">Next</button>
    <small class="text-muted">By continiuing you're agreeing to our <a href="#">Customer Terms of Service</a>,<a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy</a>.</small>
</form>