{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="Recognition" />
    <meta name="description" content="Recognize your colleagues" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/login/login.css' %}" />
    {% if LANGUAGE_CODE == 'fa' %}
        <link rel="stylesheet" href="{% static 'css/custom/login/login-rtl.css' %}" />
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg col-sections login-animation" id="animation"></div>
            <div class="col-12 col-lg col-sections login-wrapper align-self-center">
                <form class="login-form">
                    <div class="login-form-logo text-center">
                        <div class="login-logo">
                        </div>
                        <div>
                            <p>{% trans "LOG IN" %}</p>
                        </div>
                    </div>
                    <div class="form-group forms">
                        <input type="email" class="form-control login-input" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="off">
                        <span class="input-line" data-placeholder="{% trans 'Username' %}"></span>
                    </div>
                    <div class="form-group forms">
                        <input type="password" class="form-control login-input" id="exampleInputPassword1">
                        <span class="input-line" data-placeholder="{% trans 'Password' %}"></span>
                    </div>
                    <div class="form-group remember-form">
                        <div>
                            <label class="remember-me m-0" for="rememberMe">
                                <input type="checkbox" id="rememberMe" />
                                {% trans "Remember me" %}
                            </label>
                        </div>
                        <div>
                            <a href="#">{% trans "Forgot Password?" %}</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-light btn-block">{% trans "LOG IN" %}</button>
                    <div class="social-logins my-3">
                        <p>{% trans "or login using" %}</p>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" target="_target">
                            <img class="google-login d-inline-block mx-1" alt="google login" src="{% static 'image/google.svg' %}" />
                        </a>
                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}" target="_target">
                            <img class="linkedin-login d-inline-block mx-1" alt="linkedin login" src="{% static 'image/linkedin.png' %}" />
                        </a>
                    </div>
                    <div class="sign-up-section">
                        <div>
                            {% trans "Not a Member?" %}
                            <u><a href="#">{% trans "Sign Up Now" %}</a></u>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/lottie.min.js' %}"></script>
<script>
    var anim = "{% static 'js/animation/data.json' %}";
</script>
<script type="text/javascript" src="{% static 'js/custom/login.js' %}"></script>
{% block script %}{% endblock %}
</html>
