{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="Recognition" />
    <meta name="description" content="Recognize your colleagues" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% if LANGUAGE_CODE == 'fa' %}
        <link rel="stylesheet" href="{% static 'css/custom/login/login-rtl.css' %}" />
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg col-sections d-none d-lg-inline-block login-animation" id="animation"></div>
            <div class="col-12 col-lg col-sections login-wrapper align-self-center">
                <!-- login form -->
                <form id="loginForm" class="login-form form animated fadeInLeft">
                    <div class="login-form-logo text-center my-2">
                        <div class="login-logo">
                        </div>
                        <div>
                            <h3>{% trans "LOG IN" %}</h3>
                        </div>
                    </div>
                    <div class="form-group forms">
                        <input type="email" class="form-control login-input" id="email" aria-describedby="emailHelp" autocomplete="off">
                        <span class="input-line" data-placeholder="{% trans 'Username' %}"></span>
                    </div>
                    <div class="form-group forms">
                        <input type="password" class="form-control login-input" id="password">
                        <span class="input-line" data-placeholder="{% trans 'Password' %}"></span>
                    </div>
                    <div class="form-group remember-form">
                        <div>
                            <label class="remember-me m-0" for="rememberMe">
                                <input type="checkbox" id="rememberMe" />
                                <small>{% trans "Remember me" %}</small>
                            </label>
                        </div>
                        <div>
                            <a href="#">
                                <small>
                                    {% trans "Forgot Password?" %}
                                </small>
                            </a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-light login-btn my-3">{% trans "LOG IN" %}</button>
                    <div class="social-logins my-1">
                        <p>{% trans "or login using" %}</p>
                        <a class="auth-logins mx-1" href="{% url 'user:login:oauth:begin' 'google-oauth2' %}" target="_self">
                            <img class="google-login d-inline-block" alt="google login" src="{% static 'image/google.svg' %}" />
                        </a>
                        <a class="auth-logins mx-1" href="{% url 'user:login:oauth:begin' 'linkedin-oauth2' %}" target="_self">
                            <img class="linkedin-login d-inline-block" alt="linkedin login" src="{% static 'image/linkedin.png' %}" />
                        </a>
                    </div>
                    <div class="sign-up-section">
                        <div>
                            <small>{% trans "Not a Member?" %}</small>
                            <u class="sign-up-link"><a href="#registerForm">{% trans "Sign Up Now" %}</a></u>
                        </div>
                    </div>
                </form>
                <!-- register form -->
                <form id="registerForm" class="register-form form animated fadeInLeft d-none">
                    <div class="login-form-logo text-center">
                        <div class="login-logo">
                        </div>
                        <div>
                            <p>{% trans "Register" %}</p>
                        </div>
                    </div>
                    <div class="form-group forms">
                        <input type="email" class="form-control login-input" id="newEmail" aria-describedby="emailHelp" autocomplete="off">
                        <span class="input-line" data-placeholder="{% trans 'Username' %}"></span>
                    </div>
                    <div class="form-group forms">
                        <input type="password" class="form-control login-input" id="newPass">
                        <span class="input-line" data-placeholder="{% trans 'Password' %}"></span>
                    </div>
                    <div class="form-group forms">
                        <input type="password" class="form-control login-input" id="repeatPass">
                        <span class="input-line" data-placeholder="{% trans 'Repeat Password' %}"></span>
                    </div>
                    <button type="submit" class="btn btn-light register-btn my-3">{% trans "Register" %}</button>
                    <div class="social-logins my-1">
                        <p>{% trans "or login using" %}</p>
                        <a class="auth-logins mx-1" href="{% url 'user:login:oauth:begin' 'google-oauth2' %}" target="_self">
                            <img class="google-login d-inline-block" alt="google login" src="{% static 'image/google.svg' %}" />
                        </a>
                        <a class="auth-logins mx-1" href="{% url 'user:login:oauth:begin' 'linkedin-oauth2' %}" target="_self">
                            <img class="linkedin-login d-inline-block" alt="linkedin login" src="{% static 'image/linkedin.png' %}" />
                        </a>
                    </div>
                    <div class="sign-up-section">
                        <div>
                            {% trans "Already a Member?" %}
                            <u class="login-link"><a href="#loginForm">{% trans "Login" %}</a></u>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/lottie.min.js' %}"></script>
<script>
    var anim = "{% static 'js/animation/data.json' %}";
</script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% block script %}{% endblock %}
</html>
