{% extends './../base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <link rel="stylesheet" href="{% static 'webpack:dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'webpack:badge.css' %}" />
    <title>{% trans "Badges" %}</title>
{% endblock %}

{% block body %}
    <div class="container p-3" style="padding-top: 100px !important">
        {% include 'badge/_new.html' %}
        <div style="display:none;height: 500px;margin-top: 10vh;" id="no_badge_animation">
        </div>
        <p style="display:none;margin-top:20px;text-align:center" class="no-badge-desc">{% trans "There is no created badge, create now ..." %}</p>
        {% include 'badge/_table.html' %}
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'webpack:dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'webpack:badge.js' %}"></script>
<script>
    const no_budget_anim = "{% static 'js/animation/nobudget.json' %}";
</script>
{% endblock %}
