{% load static %}

<div class="get-started-box choose-path-box pt-5 pl-5 pr-5 pb-0 animated fadeInLeft">
    <h4>Start with a space</h4>
    <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam asperiores perspiciatis vero quam, quo aspernatur suscipit sunt dolorem qui molestiae illo fugit porro nihil, corporis aperiam ipsa recusandae. Quia, corporis.</small>
    <hr />
    <button class="get-started-link choose-path-link">
        <span class="material-icons px-3">search</span>
        <span class="path-text">
            <span class="h6">Find your Bilono Space</span>
            <small class="text-muted">join or sign in to existing spaces</small>
        </span>
        <span class="material-icons chevron">chevron_right</span>
    </button>
    <hr />
    <button class="get-started-link choose-path-link" id="newSpaceBtn">
        <span class="material-icons px-3">add</span>
        <span class="path-text">
            <span class="h6">Create a new Space</span>
            <small class="text-muted">Get your company or organization on Bilono</small>
        </span>
        <span class="material-icons chevron">chevron_right</span>
    </button>
    <hr />
    <img class="img-fluid" src="{% static 'image/choose-path.png' %}" />
</div>