{% load static %}

<div class="get-started-box validate-code-box pt-5 pl-5 pr-5 pb-0 d-none animated fadeInLeft">
    <h4>Check your email!</h4>
    <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam asperiores perspiciatis vero quam, quo aspernatur suscipit sunt dolorem qui molestiae illo fugit porro nihil, corporis aperiam ipsa recusandae. Quia, corporis.</small>
    <form class="my-4">
        <div class="d-flex digit-confirmation mb-2">
            <input type="text" name="char[1]" class="digit-cell form-control d-inline-block border-right-0 rounded-left">
            <input type="text" name="char[2]" class="digit-cell form-control d-inline-block border-right-0 rounded-0">
            <input type="text" name="char[3]" class="digit-cell form-control d-inline-block rounded-right">
            <span class="mx-2">_</span>
            <input type="text" name="char[4]" class="digit-cell form-control d-inline-block border-right-0 rounded-left">
            <input type="text" name="char[5]" class="digit-cell form-control d-inline-block border-right-0 rounded-0">
            <input type="text" name="char[6]" class="digit-cell form-control d-inline-block rounded-right">
        </div>
        <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae reprehenderit perspiciatis, et ex nihil ad hic eius, maxime, temporibus voluptates ducimus soluta aperiam vitae tempora. Repellat voluptatibus illum temporibus.</small>
    </form>
    <div class="text-center">
        <img class="img-fluid mx-auto" src="{% static 'image/confirm-digit.png' %}" />
    </div>
</div>