{% load static %}
<div class="get-started-box validate-email-box pt-5 pl-5 pr-5 pb-0 d-none animated fadeInLeft">
    <h4>Create a new Space</h4>
    <small class="text-muted">To make a workspace from scratch, please confirm your email address.</small>
    <form class="mt-2 mb-1">
        <div class="form-group">
            <input type="email" class="form-control" id="adminEmail" aria-describedby="emailHelp" placeholder="name@example.com">
        </div>
        <button type="button" class="btn btn-block get-started-link" id="confirmEmailBtn">Confirm</button>
    </form>
    <div class="text-center">
        <img class="img-fluid mx-auto" src="{% static 'image/email.svg' %}" />
    </div>
</div>