{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="Recognition" />
    <meta name="description" content="Recognize your colleagues" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/getStarted.css' %}" />
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="fixed-top text-center">
            <a class="navbar-brand" href="www.bilono.com">
                Bilono logo
                <!-- <img alt="bilono logo" src="{% static 'image/bilono-logo.png' %}" />  -->
            </a>
        </nav>
    </header>
    <div class="content mb-5">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <!-- choose path -->
                {% include './choose-path.html' %}
                <!-- enter email -->
                {% include './enter-email.html' %}
                <!-- confirm email -->
                {% include './confirm-email.html' %}
            </div>
        </div>
    </div>
    <footer class="p-1">
        <div class="row no-gutters">
            <div class="col">
                <ul class="footer-list">
                    <li class="footer-list-item h6 border-0">Using Bilono</li>
                    <li class="footer-list-item border-0">Product</li>
                    <li class="footer-list-item border-0">Enterprise</li>
                    <li class="footer-list-item border-0">Pricing</li>
                    <li class="footer-list-item border-0">Support</li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer-list">
                    <li class="footer-list-item h6 border-0">Bilono</li>
                    <li class="footer-list-item border-0">Jobs</li>
                    <li class="footer-list-item border-0">Customers</li>
                    <li class="footer-list-item border-0">Developers</li>
                    <li class="footer-list-item border-0">Events</li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer-list">
                    <li class="footer-list-item h6 border-0">Legal</li>
                    <li class="footer-list-item border-0">Privacy</li>
                    <li class="footer-list-item border-0">Security</li>
                    <li class="footer-list-item border-0">Terms of service</li>
                    <li class="footer-list-item border-0">Policies</li>
                </ul>
            </div>
            <div class="col">
                <ul class="footer-list">
                    <li class="footer-list-item h6 border-0">Handy Links</li>
                    <li class="footer-list-item border-0">Download desktop app</li>
                    <li class="footer-list-item border-0">Download mobile app</li>
                    <li class="footer-list-item border-0">Brand guidlines</li>
                    <li class="footer-list-item border-0">Bilono at work</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/getStarted.js' %}"></script>
{% block script %}{% endblock %}
</html>
