{% extends './base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block body %}
    <div class="get-started-box choose-path-box pt-5 pl-5 pr-5 pb-0 animated fadeInLeft">
        <h4>Start with a space</h4>
        <small class="text-muted">In Bilono, everything happens in a space. Like a virtual office building, a space is where
            your team can gather in Bilono to recognize eachother and have fun.</small>
        <hr />
        <button class="choose-path-link" location="find_space" id="findSpaceBtn">
            <span class="material-icons px-3">search</span>
            <span class="path-text">
                <h6>Find your Bilono Space</h6>
                <small class="text-muted">join or sign in to existing spaces</small>
            </span>
            <span class="material-icons chevron">chevron_right</span>
        </button>
        <hr />
        <button class="choose-path-link" box="new-space-email-box" location="create_space" id="newSpaceBtn">
            <span class="material-icons px-3">add</span>
            <span class="path-text">
                <h6>Create a new Space</h6>
                <small class="text-muted">Get your company or organization on Bilono</small>
            </span>
            <span class="material-icons chevron">chevron_right</span>
        </button>
        <hr />
        <img class="img-fluid" src="{% static 'image/start_with_a_space.svg' %}" />
    </div>
{% endblock %}

{% block script %}{% endblock %}