{% load i18n %}
{% load static %}
<div class="get-started-box new-space-email-box pt-5 pl-5 pr-5 pb-0 d-none animated fadeInLeft">
    <h4>Create a new Space</h4>
    <small class="text-muted">To make a workspace from scratch, please confirm your email address.</small>
    <form class="mt-2 mb-1">
        <div class="form-group">
            <input type="email" class="form-control" id="adminEmail" aria-describedby="emailHelp" placeholder="name@example.com">
        </div>
        <button type="button" class="btn btn-block get-started-link send-otp" box="new-email-code-box">Confirm</button>
        <div class="social-logins text-center mt-4">
            <a class="auth-logins mx-1" href="{% url 'user:oauth:begin' 'google-oauth2' %}" target="_self">
                <img class="google-login d-inline-block" alt="google login" src="{% static 'image/google.svg' %}" />
            </a>
            <a class="auth-logins mx-1" href="{% url 'user:oauth:begin' 'linkedin-oauth2' %}" target="_self">
                <img class="linkedin-login d-inline-block" alt="linkedin login" src="{% static 'image/linkedin.png' %}" />
            </a>
        </div>
    </form>
    <div class="text-center">
        <img class="img-fluid mx-auto" src="{% static 'image/create_space.svg' %}" />
    </div>
</div>