@import "./utilities/variables";
@import "./utilities/mixins";

header {
    width: 100%;
    height: $header-height;
}

@media (max-width: 991.98px) { 
    header {
        .menu-collapse {
            
            display: inline-block;
            position: relative;
            left: 20px;
            top: 15px;
            .menu-collapse-btn {

                width: 30px;
                height: 30px;
                cursor: pointer;
                .menu-button {
                    width: 30px;
                    height: 3px;
                    position: absolute;
                    top: 12px;
                    background-color: $black;
        
                    &::before,&::after {
                        content: '';
                        width: 30px;
                        height: inherit;
                        background-color: inherit;
                        position: absolute;
                        @include transform-origin(0 50%);
                        @include transition(transform .2s ease-in-out);
                    }
        
                    &::before {
                        top: -6px;
                    }
        
                    &::after {
                        top: 6px;
                    }
                }
        
                &.navbar-is-visible {
                    .menu-button {
                        background-color: hsla(0, 0%, 100%, 0);
                        
                        &::before, &::after {
                            background-color: $black;
                        }

                        &::before {
                            @include transform(translateX(4px) translateY(-3px) rotate(45deg));
                        }
        
                        &::after {
                            @include transform(translateX(4px) translateY(6px) rotate(-45deg));
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    header {
        .menu-collapse {
            display: none;
        }
    }
}