@import "./utilities/variables";
@import "./utilities/mixins";


body {
    font-family: 'Roboto', sans-serif;
    .container-fluid {
        padding: 0;
        margin: 0;

        .bilino-main {
            &.main-is-fully-visible {
                width: 100%;
            }
            &.main-is-partially-visible {
                width: calc(100% - 250px);
                padding-left: $sidebar-width;
            }
        }
    }
}