@import "./utilities/variables";
@import "./utilities/mixins";

%sidebar-devider {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    background-color: $tint-blue-color1;
    position: absolute;
    bottom: 0;
    right: 15px;
}

nav {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    &.bilino-navbar {

        @include transition(all .2s ease-in-out);
        
        .navbar-logo {

            width: 100%;
            height: $bilono-logo-height;
            line-height: $bilono-logo-height;
            color: $main-red-color;
            font-size: 150%;
            font-weight: bold;
            position: relative;
            text-align: center;

            .bilono-logo {
                height: 100%;
                width: auto;
                padding: 10px 0;
            }

            &::after {
                @extend %sidebar-devider;
            }
        }

        .bilono-space-wrapper {
            padding-left: $sidebar-padding;
            position: relative;
            
            > div {
                height: $sidebar-link-height;
                line-height: $sidebar-link-height;
                font-weight: bold;
            }

            &::after {
                @extend %sidebar-devider;
            }
        }

        .navbar-profile-wrapper {

            position: relative;
            .navbar-profile {

                height: $bilono-user-info-height;
                padding-left: $sidebar-padding;
                position: relative;
                cursor: pointer;
                display: flex;
    
                .user-info {
    
                    width: 100%;
                    flex-grow: 1;
                    text-align: center;
                    display: flex;

                    .user-logo {
                        width: 35px;
                        background: $tint-blue-color5;
                        color: $white;
                        height: 35px;
                        border-radius: 50%;
                        text-align: center;
                        font-weight: bold;

                        span {
                            line-height: 35px;
                        }

                        img {
                            border-radius: 50%;
                        }
                    }

                    .user-info-credit {

                        width: 100%;
                        text-align: left;
                        display: inline-block;
                        display: flex;
                        flex-direction: column;
                        
                        .points-container {
                            .points {
                                background-color: $main-red-color;
                                display: inline-block;
                                border-radius: $radius;
                                color: $white;
                                font-weight: bold;
                                font-size: 0.8em;
                                min-width: 40px;
                                padding: 0 5px;
                                text-align: center;
                            }

                            img {
                                max-width: 18px;
                                height: auto;
                            }
                        }
                    }
                }
            }

            #userProfile {
                padding-left: $sidebar-padding;
                a {
                    color: $active-text;
                    font-size: 0.9rem;
                }

                .username {
                    position: relative;
                    font-weight: bold !important;
                    color: $tint-blue-color5;
                    
                    &::after,&::before {
                        content: '';
                        width: calc(100% - 15px);
                        height: 1px;
                        background-color: $tint-blue-color1;
                        position: absolute;
                        right: 15px;
                    }

                    &::after {
                        bottom: 0;
                    }
                    &::before {
                        top: 0;
                    }
                }
            }

            &::after {
                @extend %sidebar-devider;
            }
        }

        .navbar-links {
            ul.navbar-nav {

                li.nav-item {
                    height: $sidebar-link-height;
                    line-height: $sidebar-link-height;
                    // ul.navbar-nav {
                    //     padding-top: $sidebar-link-height;

                    //     a.nav-link {
                    //         padding: 0 30px;
                    //     }
                    // }
                    &.active {

                        > a.nav-link {
                            color: $active-text;
                        }
                        &::before {
                            content: '';
                            width: $sidebar-active-link-width;
                            height: 50px;
                            background-color: $main-blue-color;
                            position: absolute;
                            right: 0;
                        }
                    }

                    a.nav-link {
                        padding: 0 $sidebar-padding;
                        color: $text;
                        &:hover {
                            color: $active-text !important;
                        }
                        img {
                            max-width: 30px;
                            height: auto;
                        }
                    }
                }
            }
        }

        .material-icons {

            @include transition(transform .2s ease-in-out);
            &.toggle {
                @include transform(rotate(180deg));
            }
        }
    }
}

@media (max-width: 991.98px) { 
    nav {
        &.bilino-navbar {
            &.side-is-visible {
                width: 250px;
                opacity: 1;
            }
            &.side-is-hidden {
                width: 0;
                opacity: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    nav {
        width: $sidebar-width;
    }
}


.user-info {
    
    width: 100%;
    flex-grow: 1;
    text-align: center;
    display: flex;

    .user-logo {
        width: 35px;
        background: $tint-blue-color5;
        color: $white;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        display: inline-block;

        span {
            line-height: 35px;
        }

        img {
            border-radius: 50%;
        }
    }

    .user-info-credit {

        width: 100%;
        text-align: left;
        display: inline-block;
        display: flex;
        flex-direction: column;
        
        .points-container {
            .points {
                background-color: $main-red-color;
                display: inline-block;
                border-radius: $radius;
                color: $white;
                font-weight: bold;
                font-size: 0.8em;
                min-width: 40px;
                padding: 0 5px;
                text-align: center;
            }

            img {
                max-width: 18px;
                height: auto;
            }
        }
    }
}