{% load static %}
{% load i18n %}



<div class="card shadow mb-3 border-0" id="leaderboard">
    <div data-toggle="collapse" data-target="#topTen" aria-expanded="true" aria-controls="topTen">
        <div class="row no-gutters align-items-center">
            <div class="col-12 col-lg-8 top-three-container">
                <div class="row no-gutters pt-3">
                    <div class="col text-center px-3 py-4">
                        {% if leaderboard.others|length == 3 %}
                            {% if leaderboard.others.2.profile_picture %}
                                <img class="img-fluid top top-three" src="{{leaderboard.others.2.profile_picture}}" alt="profile picture" />
                            {% else %}
                                <div class="top top-three border d-inline-block">{{leaderboard.others.2.name_chars}}</div>
                            {% endif %}
                        {% endif %}
                        <div class="d-inline-block position-relative mx-3 mx-lg-0">
                            <img class="img-fluid crown" src="{% static 'image/crown.png' %}" alt="number one" />
                            {% if leaderboard.others.0.profile_picture %}
                                <img class="img-fluid top top-one" src="{{leaderboard.others.0.profile_picture}}" alt="profile picture" />
                            {% else %}
                                <div class="top top-one border d-inline-block">{{leaderboard.others.0.name_chars}}</div>
                            {% endif %}
                        </div>
                        {% if leaderboard.others|length >= 2 %}
                            {% if leaderboard.others.1.profile_picture %}
                                <img class="img-fluid top top-two" src="{{leaderboard.others.1.profile_picture}}" alt="profile picture" />
                            {% else %}
                                <div class="top top-two border d-inline-block">{{leaderboard.others.1.name_chars}}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center p-3 top-u-container">
                {% if request.user.profile_picture %}
                    <img class="img-fluid top top-u" src="{{request.user.profile_picture.url}}" alt="profile picture" />
                {% else %}
                    <div class="text-dark top top-u border d-inline-block">{{request.user.name_chars}}</div>
                {% endif %}
                <div class="font-weight-bold top-u-rank pt-1">#{{leaderboard.my_rank}}</div>
            </div>
        </div>
    </div>
    <div id="topTen" class="collapse">
        <div class="top-ten-container p-3"></div>
    </div>
</div>
