{% load static %}
{% load i18n %}



<div class="card shadow post">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item m-1">
      <a class="nav-link post-border-bottom active" id="recognition-tab" data-toggle="tab" href="#recognition" role="tab" aria-controls="recognition" aria-selected="true">{% trans 'Recognition' %}</a>
    </li>
    <li class="nav-item m-1">
      <a class="nav-link post-border-bottom" id="regular-post-tab" data-toggle="tab" href="#regularPost" role="tab" aria-controls="regularPost" aria-selected="false">{% trans 'Post' %}</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recognition" role="tabpanel" aria-labelledby="recognition-tab">
      {% include 'feed/_recognition.html' %}
    </div>
    <div class="tab-pane fade" id="regularPost" role="tabpanel" aria-labelledby="regular-post-tab">
      {% include 'feed/_regular-post.html' %} 
    </div>
  </div>
</div>