{% load static %}
{% load i18n %}



<div class="modal fade" id="recognitionModal" tabindex="-1" role="dialog" aria-labelledby="recognitionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="recognitionModalLabel">{% trans 'Lets admire someone today:)' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 recognition-container" id="recognizeWho">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg col-xl-6">
                            <img class="img-fluid sticky" src="{% static 'image/heart.svg' %}" />
                        </div>
                        <div class="col-12 col-lg col-xl-4">
                            <div class="recognition-modal-search">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-4">
                                        <input class="form-control form-control-alternative" id="chooseColleague" placeholder="Choose your colleague.." type="text">
                                    </div>
                                </div>
                                <div class="recognized-person d-none" username="" occupation="" >
                                    <div class="d-flex align-items-center mb-2 px-2">
                                        <div class="px-3">
                                            <div class="media align-items-center">
                                                <span class="avatar avatar-sm rounded-circle bg-white shadow-sm"></span>
                                                <div class="media-body ml-2">
                                                    <span class="mb-0 text-sm font-weight-bold username">
                                                    </span>
                                                    <small class="text-muted d-block occupation"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 align-self-center mt-2">
                                            <div class="text-right">
                                                <div class="text-right">
                                                    <span class="remove-row-radio"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-3" />
                                </div>
                            </div>
                            <div class="who-to-recognize-container mb-2 px-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 recognition-container d-none" id="giveBadge" >
                    <div id="created_badge_table_keeper" class="container"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary recognition-btn d-none" id="previouseBtn">{% trans 'Previouse' %}</button>
            <button type="button" class="btn btn-primary recognition-btn" disabled="true" id="nextBtn">{% trans 'Next' %}</button>
        </div>
        </div>
    </div>
</div>