{% load static %}
{% load i18n %}



<div class="card-body pt-0">
    <div id="recognitionToggled" class="post-toggled" data-target="#recognitionExpanded" aria-expanded="false" aria-controls="recognitionExpanded">
        <div class="my-1" id="sharePost">
            <div id="postLink" class="d-flex flex-row">
            <div class="d-flex flex-column">
                {% if request.user.profile_picture %}
                    <img class="img-fluid profile-pic" src="{{request.user.profile_picture.url}}" alt="profile picture" />
                {% else %}
                    <span class="text-dark profile-pic-text">{{request.user.name_chars}}</span>
                {% endif %}
            </div>
            <div class="d-flex flex-column contentWrapper">
                <!-- <div id="recognitionContent" class="post-content recognition-post-content px-3" contenteditable data-placeholder="{% trans 'Whats on your mind today? :)' %}"></div> -->
                <!-- <div class="post-content-section" data-emojiarea data-type="unicode" data-global-picker="false">
                    <div class="emoji-button">&#x1f604;</div>
                    <div id="recognitionContent" class="post-content recognition-post-content px-3" contenteditable data-placeholder="{% trans 'Whats on your mind today? :)' %}"></div>
                </div> -->
                <div class="post-content-section emoji-picker-container">
                    <textarea id="recognitionContent" class="post-content recognition-post-content px-3 form-control textarea-control" rows="3" data-placeholder="{% trans 'Whats on your mind today? :)' %}" data-emojiable="true" data-emoji-input="unicode"></textarea>
                </div>
            </div>
            </div>
        </div>
        <div id="recognitionExpanded" class="collapse post-expanded">
            <div class="selected-badge-container d-none">
                <hr class="my-3" />
                <div class="d-flex justify-content-center align-items-center">
                    <div class="selected-badge-info mx-2">
                        <div class="card badge-card selected-badge-card border-1 p-1" data-toggle="modal" data-target="#recognitionModal">
                            <img class="img-fluid mx-auto" src="" alt="badge icon">
                            <div class="badge-label text-center">
                                <h5 class="card-title text-muted my-1">
                                    <span></span>
                                    <small></small>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="lottie-animation" id="rewardBadge"></div>
                    <div class="selected-badge-info mx-2">
                        <div class="card user-card selected-badge-card border-1 p-1" data-toggle="modal" data-target="#recognitionModal" id="">
                            <span class="avatar avatar-sm rounded-circle bg-white shadow-sm align-self-center"></span>
                            <div class="badge-label text-center">
                                <h5 class="card-title text-muted my-1"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <div class="use-badge-section">
                    <hr class="my-3" />
                    <div class="row align-items-center mb-2">
                        <div class="col">
                            <button id="useBadgeBtn" class="btn mx-1" type="button" data-toggle="modal">
                                <div class="row no-gutters align-items-center">
                                    <div class="col pr-1">
                                        <i class="material-icons md-18">
                                            sentiment_satisfied_alt
                                        </i>
                                    </div>
                                    <div class="col">
                                        {% trans 'Give a Badge' %}
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="post-recognition d-none">
                    <hr class="my-3" />
                    <div class="d-flex">
                        <div class="flex-shrink-1">
                            <div class="btn-group mx-1">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Privacy' %}</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">{% trans 'Public' %}</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#privacyModal">{% trans 'My team' %}</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#privacyModal">{% trans 'Colleagues except' %}</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#privacyModal">{% trans 'Specific colleagues' %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <button id="postBtn" class="btn btn-block mx-1" type="button">{% trans 'Post' %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>