<div class="card-body">
    <div id="postToggled" data-target="#postExpanded" aria-expanded="false" aria-controls="postExpanded">
        <div class="my-1" id="sharePost">
            <div id="postLink" class="align-items-center d-flex flex-row">
            <div class="d-flex flex-column">
                {% if request.user.profile_picture %}
                    <img class="img-fluid" src="{{request.user.profile_picture.url}}" alt="profile picture" />
                {% else %}
                    <span class="text-dark">{{request.user.first_name.0}}{{request.user.last_name.0}}</span>
                {% endif %}
            </div>
            <div class="d-flex flex-column contentWrapper">
                <div id="postContent" class="px-3" contenteditable="true" data-placeholder="Whats on your mind today? :)"></div>
            </div>
            </div>
        </div>
        <div id="postExpanded" class="collapse">
            <hr />
            <form>
                <div class="row align-items-center mt-3">
                    <div class="col">
                        <a href="#"class="badge badge-pill badge-primary mx-1 py-1">
                        <div class="row no-gutters align-items-center">
                            <div class="col pr-1">
                            <i class="material-icons">
                                add_a_photo
                            </i>
                            </div>
                            <div class="col">
                            Photo
                            </div>
                        </div>
                        </a>
                        <a href="#"class="badge badge-pill badge-primary mx-1 py-1">
                        <div class="row no-gutters align-items-center">
                            <div class="col pr-1">
                            <i class="material-icons">
                                video_call
                            </i>
                            </div>
                            <div class="col">
                            Video
                            </div>
                        </div>
                        </a>
                        <a href="#"class="badge badge-pill badge-primary mx-1 py-1">
                        <div class="row no-gutters align-items-center">
                            <div class="col pr-1">
                            <i class="material-icons">
                                face
                            </i>
                            </div>
                            <div class="col">
                            Tag Friends
                            </div>
                        </div>
                        </a>
                        <a href="#"class="badge badge-pill badge-primary mx-1 py-1">
                        <div class="row no-gutters align-items-center">
                            <div class="col pr-1">
                            <i class="material-icons">
                                add_location
                            </i>
                            </div>
                            <div class="col">
                            Location
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary float-right mx-1" type="button">Post</button>
                        <!-- Example single danger button -->
                        <div class="btn-group float-right mx-1">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Privacy
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Public</a>
                                <a class="dropdown-item" href="#">Colleagues except</a>
                                <a class="dropdown-item" href="#">Specific colleagues</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>