{% extends './../base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/lib/emojiarea/emoji.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webpack:dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'webpack:feed.css' %}" />
    <title>{% trans "Dashboard" %}</title>
{% endblock %}

{% block body %}
  {% include 'feed/_header.html' %}
  <div class="container-fluid feed-container mt--8">
    <div class="row">
      <div class="col-12 d-block d-lg-none">
          {% include 'feed/_cards.html' %}
          {% include 'feed/_leaderboard.html' %}
      </div>
      <div class="col-12 col-lg-7 mb-5 mb-xl-0">
        {% include 'feed/_post.html' %}
        {% include 'feed/_feed_activity.html' %}
      </div>
      <div class="col-12 col-lg-5">
          <div class="row d-none d-lg-block">
            <div class="col-12">
              {% include 'feed/_cards.html' %}
              {% include 'feed/_leaderboard.html' %}
            </div>
          </div>
      </div>
    </div>
  </div>
  {% include 'feed/_privacy-modal.html' %}
  {% include 'feed/_recognition-modal.html' %}
{% endblock %}

{% block script %}
  <script>
    const reward_badge = "{% static 'js/animation/reward.json' %}",
          post_placeholder = "{% trans 'Whats on your mind today? :)' %}";

    $(function() {
      // Initializes and creates emoji set from sprite sheet
      window.emojiPicker = new EmojiPicker({
        emojiable_selector: '[data-emojiable=true]',
        assetsPath: '{% static "css/lib/emojiarea/img" %}',
        popupButtonClasses: 'fa fa-smile-o'
      });
      // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
      // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
      // It can be called as many times as necessary; previously converted input fields will not be converted again
      window.emojiPicker.discover();
      $('.emoji-wysiwyg-editor').attr('data-placeholder', post_placeholder)
    });
  </script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/config.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/util.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/jquery.emojiarea.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/emoji-picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'webpack:dashboard.js' %}"></script>
  <script type="text/javascript" src="{% static 'webpack:feed.js' %}"></script>
{% endblock %}



