{% extends './../base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/lib/emojiarea/emoji.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/unitegallery/unite-gallery.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'webpack:dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'webpack:feed.css' %}" />
    <title>{% trans "Dashboard" %}</title>
{% endblock %}

{% block body %}
  {% include 'feed/_header.html' %}
  <div class="container-fluid feed-container mt--8" id="feedContainer">
    <div class="row">
      <div class="col-12 d-block d-lg-none">
          {% include 'feed/_cards.html' %}
          {% include 'feed/_leaderboard.html' %}
      </div>
      <div class="col-12 col-lg-7 mb-5 mb-xl-0">
        {% include 'feed/_post.html' %}
        {% include 'feed/_feed_activity.html' %}
      </div>
      <div class="col-12 col-lg-5">
          <div class="row d-none d-lg-block position-sticky">
            <div class="col-12">
              {% include 'feed/_cards.html' %}
              {% include 'feed/_leaderboard.html' %}
            </div>
          </div>
      </div>
    </div>
  </div>
  {% include 'feed/_privacy-modal.html' %}
  {% include 'feed/_recognition-modal.html' %}
  {% include 'feed/_list-of-likers-modal.html' %}
{% endblock %}

{% block script %}
  <script>
    const reward_badge = "{% static 'js/animation/reward.json' %}",
          post_placeholder = "{% trans 'Whats on your mind today? :)' %}",
          assets_path = "{% static 'css/lib/emojiarea/img' %}",
          write_cmt_placeholder = "{% trans 'Write a comment...' %}",
          load_more_src = "{% static 'image/load_more_comments.gif' %}",
          crown_img = "{% static 'image/crown.png' %}";

    let user_profile = {
      url: "{% url 'frontview:dashboard:profile' space.slug request.user.id %}"
    };
    "{% if request.user.profile_picture %}"
      user_profile.has = true;
      user_profile.src = "{{request.user.profile_picture.url}}";
    "{% else %}"
      user_profile.has = false;
      user_profile.initials = "{{request.user.name_chars}}"
    "{% endif %}"    

    var feed_pagin = 1,
        regular_post_media_ids = [];
    
  </script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/config.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/util.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/jquery.emojiarea.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/emojiarea/emoji-picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/unitegallery/unitegallery.js' %}"></script>
  <script type='text/javascript' src="{% static 'js/lib/unitegallery/themes/tiles/ug-theme-tiles.js' %}" ></script>
  <script type='text/javascript' src="{% static 'js/lib/readmore.js' %}"></script>
  <script type="text/javascript" src="{% static 'webpack:dashboard.js' %}"></script>
  <script type="text/javascript" src="{% static 'webpack:feed.js' %}"></script>
{% endblock %}



