{% extends './../base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <link rel="stylesheet" href="{% static 'webpack:dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'webpack:employee.css' %}" />
    <title>{% trans "Employees" %}</title>
{% endblock %}

{% block body %}
    <div class="container p-3" style="padding-top: 100px !important">
        <div class="row align-items-center clearfix">
            <div class="col">
                <h4 class="font-weight-bold d-inline">{% trans "New Employee" %}</h4>
            </div>
        </div>
        {% include 'employee/_new.html' %}
        {% include 'employee/_table.html' %}
    </div>
{% endblock %}

{% block script %}
<script>
    const   no_budget_anim = "{% static 'js/animation/nobudget.json' %}";
</script>
<script type="text/javascript" src="{% static 'webpack:dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'webpack:employee.js' %}"></script>
{% endblock %}
