@import "./../../utilities/variables";
@import "./../../utilities/mixins";
@import "./../badge/index.scss";

 

.feed-container {

    a {
        color: $main-blue-color;
        &:hover {
            text-decoration: underline;
        }
    }

    .profile-pic, .profile-pic-text {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .profile-pic-text {
        display: inline-block;
        text-align: center;
        line-height: 50px;
        border: 1px solid #e9ecef;
    }

    .lottie-animation {
        width: 100px;
        height: auto;
    }

    .selected-badge-card {

        min-width: 100px;
        min-height: 90px;
        img {
            width: 50px;
            height: auto;
        }
    }

    .feed-cards {
        img {
            max-width: 7rem;
        }
    }
    
    .post {

        z-index: 80;
        cursor: pointer;
        .tabs-ul {

            border: 0;
            .tabs-link {

                border: 0;
                text-decoration: none;
                &.active {
                    background-color: transparent;
                }

                &.post-border-bottom {
                    &:after {
                        content: '';
                        width: 0px;
                        height: 2px;
                        display: block;
                        background-color: $tint-blue-color5;
                        @include transition(width .4s cubic-bezier(0.7, .1, .6, .1));
                    }
                }
                
                &.post-border-bottom.active {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        
        button {

            &:focus {
                box-shadow: none !important;
            }

            &.dropdown-toggle {
                background-color: $tint-blue-color1;
            }

            &#useBadgeBtn {
                background-color: $main-red-color;
                color: $white;
            }

            &.post-btn {
                background-color: $main-blue-color;   
                color: $white;
            }
        }

        .contentWrapper {

            width: calc(100% - 50px);

            .post-content-section {

                background-color: $white;
                border: 0 !important;
                box-shadow: none !important;
                min-height: 50px;
                position: relative;

                .post-content{

                    min-height: 50px;
                    height: auto !important;
                    outline: 0;
                    position: relative;
                    top: 0;
                    resize: none;
                    border: 0;
                    box-shadow: none;
                    @include transition(all .4s ease-in);

                    &.emoji-wysiwyg-editor.recognition-post-content:empty:before {
                        content: attr(data-placeholder);
                        color: $text !important;
                        line-height: 100%;
                    }
                    &:before {

                        color: $text !important;
                        font-size: 1rem;
                        line-height: 100%;
                        &:empty:before {
                            color: $text !important;
                        }
                    }
                }
            }
        }

        .badge {
            &.badge-primary {
                background-color: $tint-blue-color2;
                color: $main-blue-color;
                &:hover {
                    background-color: $main-blue-color;
                    color: $white;
                }
            }

            &.point-recognition {
                
                &:focus {
                    input {
                        width: 100px;
                    }
                }

                input {
                    @include transition(all .4s ease-out);
                    border: none;
                    border-radius: $radius;
                    text-align: center;
                    width: 0;
                    &:focus {
                        width: 100px;
                    }
                }
            }
        }

        .cards-stats {
            .card {
                min-height: 120px !important;
                img {
                    width: 120px;
                }
            }
        }  

        #postExpanded {
            #postUpload {
                #postFileDropzone {
                    border-width: 1px;
                    border-color: $border-color !important;
                    border-radius: $radius !important;
                    .dz-preview {
                        .dz-remove {
                            position: relative;
                            top: -30px;
                            z-index: 9999;
                            color: rgba(255,255,255,0.4);
                            visibility: hidden;
                            .material-icons {
                                cursor: pointer;
                            }
                        }
                        &:hover {
                            .dz-remove {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }

    .feed-activity {
        .feed {
            &.card {
                position: initial !important;
            }
            .card-body {
                .card-title {
                    h4 {
                        color: $main-blue-color;
                    }
                }
                .card-text {
                    .post-context {

                    }

                    .post-recognition-container {
                        .post-recognition {

                            background-color: $tint-blue-color2;
                            min-height: 150px;
                            .selected-badge-info {
                                .avatar-sm {
                                    width: 50px;
                                    height: 50px;
                                    line-break: 50px;
                                }
                            }
                        }
                    }

                    .gallery {
                        width: 100%;
                    }

                    .likes-and-comments {

                        .small-link {
                            color: $text;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        small {
                            a {
                                color: $text;
                            }
                        }
                        .mutual-likes {
                            img,span {
                                width: 25px;
                                height: 25px;
                                display: inline-block;
                                text-align: center;
                                margin: 0 .01rem;
                            }
                        }

                        .like-link, .comment-link {
                            cursor: pointer;
                            color: $main-blue-color;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .comments-container {
                            .comment-row {
                                .profile-pic {
                                    width:30px;
                                    height:30px;
                                }
                                .profile-pic-text {
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                }
                                .add-comment, .comment-text, .add-reply {
                                    border-radius: 20px;
                                    background-color: $gray;
                                    .comment-content, .reply-content {
                                        height: auto !important;
                                        outline: 0;
                                        position: relative;
                                        top: 0;
                                        resize: none;
                                        border: 0;
                                        box-shadow: none;
                                        border-radius: 20px;
                                        background-color: $gray;
                                    }
                                }
                                .comment-text {
                                    width: auto;
                                    .cmts-badge {
                                        background: $white;
                                        box-shadow: 2px 2px 1px 0px $gray;
                                        padding: 0 5px;
                                        border-radius: 20px;
                                        font-size: 10px;
                                        cursor: pointer;

                                        .material-icons {
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .emojionearea-editor {
                                    min-height: 30px;
                                }
                            }

                            .cmt-links {
                                color: $main-blue-color;
                                &:hover {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }
                            
                            .view-more-comments {
                                img {
                                    width: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #leaderboard {

        .top-three-container {
            background: $tint-blue-color5 url('/static/image/leaderboard.svg') no-repeat;
            color: $white;
            border-radius: .375rem 0 0 .375rem;
            .top {
                
                border-radius: 50%;
                border-width: 3px !important;
                border-style: solid !important;
                &.top-one {
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    border-color: $gold;
                }

                &.top-two, &.top-three {
                    width: 65px;
                    height: 65px;
                    line-height: 65px;
                }

                &.top-two {
                    border-color: $silver !important;
                }

                &.top-three {
                    border-color: $bronze !important;
                }
            }

            .crown {
                width: 32px;
                position: absolute;
                top: -20px;
                right: 29px;
            }
        }

        .top-u-container {
            .top-u {
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 50%;
            }
            .top-u-points {
                font-size: .8rem;
            }
            .top-u-rank {
                font-size: 1rem;
            }
        }

        #topTen {
            .card {
                .user-ranks-img {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 50%;
                    border: 2px solid $white !important;
                }

                &.number-one {
                    background-color: $gold;
                }
                &.number-two {
                    background-color: $silver;
                }
                &.number-three {
                    background-color: $bronze;
                }
            }
        }
    }
}

.modal {

    .modal-body {
        margin-bottom: 80px;
    }
    .modal-footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    button {
        &.btn-primary {
            background-color: $main-blue-color; 
        }
    }

    .material-icons {
        cursor: pointer;
    }

    &#privacyModal {
        .modal-body {
            max-height: 400px;
            overflow-y: scroll;
        }
    }


    &#recognitionModal {
        .modal-body {
            max-height: 600px;
            overflow: auto;
            #recognizeWho {
                .recognition-modal-search {
                    position: -webkit-sticky;
                    position: sticky;
                    z-index: 9999;
                    top: -25px;
                    background-color: $white;
                }
                .sticky {
                    position: -webkit-sticky;
                    position: sticky;
                    z-index: 9999;
                    top: 0;
                }
                .who-to-recognize-container {
                    .who-to-recognize-row {
                        cursor: pointer;
                        img {
                            max-width: 50px;
                            height: auto;
                        }
                    }
                }
            }
            #giveBadge {
                .card-stats {
                    cursor: pointer;
                    .down-details {
                        visibility: hidden;
                    }
                }
            }
        }
    }

    .selected-badge-border {
        border: 2px solid $main-blue-color;
    }
    
    .recognized-person {
        cursor: pointer;
        .material-icons {
            color: $main-red-color;
        }
    }
    
    .select-row-radio {
    
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $tint-blue-color5;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    
        &.selected {
            &:after {
                display: inline-block;
            }
        }
    
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            left: 3px;
            top: 3px;
            background-color: $tint-blue-color5;
            border: 1px solid $tint-blue-color5;
            display: none;
        }
    }
    
    .remove-row-radio {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid $main-red-color;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    
        &:after {
            content: '';
            width: 8px;
            height: 3px;
            border-radius: 50%;
            position: absolute;
            left: 3px;
            top: 6px;
            background-color: $main-red-color;
            border: 1px solid $main-red-color;
        }
    }
}

.emoji-picker-container {
    border: 0 !important;
    .emoji-picker-icon {
        right: 28px !important;
    }
}

.emoji-wysiwyg-editor {
    min-height: initial !important;
}

.like-icon {
    @include transform(scale(1));
    @include transform-origin(center center);
    @include transition(all 1s); 
}
.like.css {  
    @include animation-delay(1s);
}
.like.animated {
    @include animation(thumbs_up_animation 1s ease-in-out)
}

@keyframes thumbs_up_animation {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}
@-webkit-keyframes thumbs_up_animation {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(2); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes thumbs_up_animation {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(2); }
    100% { -moz-transform: scale(1); }  
}
@-ms-keyframes thumbs_up_animation {
    0% { -ms-transform: scale(1); }
    50% { -ms-transform: scale(2); }
    100% { -ms-transform: scale(1); }  
}
@-o-keyframes thumbs_up_animation {
    0% { -o-transform: scale(1); }
    50% { -o-transform: scale(2); }
    100% { -o-transform: scale(1); }  
}


// Small to Large devices (desktops, 992px and up)
@media (max-width: 1199.8px) { 
    .feed-container {
        width: 100%;
        margin: auto;
    }
}
// Small devices
@media (max-width: 320px) {
    body {
        overflow-x: scroll;
    }
}
// Midum devices
@media (min-width: 992px) { 

    .feed-container {
        #leaderboard {
            .top-three-container {

                color: $white;
                .top {
                    &.top-one {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                    }
    
                    &.top-two, &.top-three {
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                    }
                }
                .crown {
                    width: 24px;
                    top: -14px;
                    right: 13px;
                }
            }
    
            .top-u-container {
                .top-u {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
    .card {
        &.card-stats {
            // box-shadow: 0px 0px 5px 2px rgba($color: #d3d3d3, $alpha: .80);
            // @include transition(box-shadow .4s);
            // @include transition(transform .4s);
            &:hover {
                box-shadow: 1px 1px 11px 3px rgba(79, 77, 77, .3);
                transform: scale(1.02,1.02);
                z-index: 9999;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .feed-container {

        width: 85% !important;
        margin-right: auto !important;
        margin-left: auto !important;

        #leaderboard {
            .top-three-container {
                .top {
                    &.top-one {
                        width: 65px;
                        height: 65px;
                        line-height: 65px;
                    }
    
                    &.top-two, &.top-three {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
                .crown {
                    width: 32px;
                    top: -20px;
                    right: 16.5px;
                }
            }
    
            .top-u-container {
                .top-u {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                }
            }
        }
    }
    .modal-xl {
        max-width: 70% !important;
    }
}

@media (min-width: 1500px) { 
    .feed-container {

        #leaderboard {
            .position-relative {
                margin: 0 1rem !important;
            }
        }
    }
}