@import "./../../utilities/variables";
@import "./../../utilities/mixins";
@import "./../badge/index.scss";




.cards-stats {
    .card {
        min-height: 120px !important;
        img {
            width: 120px;
        }
    }
}   

.feed-container {
    .post {

        z-index: 80;
        cursor: pointer;
        .nav-tabs {

            border: 0;
            .nav-link {

                border: 0;
                &.active {
                    background-color: transparent;
                }
            }
        }
        
        button {

            &:focus {
                box-shadow: none !important;
            }

            &.dropdown-toggle {
                background-color: $tint-blue-color1;
            }

            &#useBadgeBtn {
                background-color: $main-red-color;
                color: $white;
            }

            &#postBtn {
                background-color: $main-blue-color;   
                color: $white;
            }
        }

        img.profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .contentWrapper {

            width: calc(100% - 50px);
            #postContent {

                @include transition(all .4s ease-in);
                &:empty:before {
                    content: attr(data-placeholder);
                }

                &:focus {
                    outline: 0 !important;
                }
            }

            .emojionearea {

                background-color: $white;
                border: 0 !important;
                box-shadow: none !important;
                min-height: 50px;
                &.emojionearea-disable {
                    
                    background-color: $white;
                    &:before {
                        background-color: $white;
                        line-height: 100%;
                    }
                }

                .emojionearea-editor {

                    min-height: 50px;
                    &:empty:before {
                        color: $text !important;
                        line-height: 100%;
                    }

                    &:before {

                        color: $text !important;
                        font-size: 1rem;
                        line-height: 100%;
                        &:empty:before {
                            color: $text !important;
                        }
                    }
                }
            }
        }

        .selected-badge-card {
            width: 100px;
            height: auto;
        }

        .badge {
            &.badge-primary {
                background-color: $tint-blue-color2;
                color: $main-blue-color;
                &:hover {
                    background-color: $main-blue-color;
                    color: $white;
                }
            }

            &.point-recognition {
                
                &:focus {
                    input {
                        width: 100px;
                    }
                }

                input {
                    @include transition(all .4s ease-out);
                    border: none;
                    border-radius: $radius;
                    text-align: center;
                    width: 0;
                    &:focus {
                        width: 100px;
                    }
                }
            }
        }

        // .custom-checkbox {

        //     .custom-control-label  {
        //         &:before, &:after {
        //             border-radius: 50%;
        //         }
        //     }
        //     .custom-control-input:checked~.custom-control-label:before {
        //         background-color: $main-blue-color;
        //     }
            
        // }
    }
}

.modal {
    .avatar {
        img {
            border-radius: 0;
        }
    }

    button {
        &.btn-primary {
            background-color: $main-blue-color; 
        }
    }

    .material-icons {
        cursor: pointer;
    }

    .modal-search-box {
        padding: 0 1.25rem;
    }

    &#privacyModal {
        .modal-body {
            max-height: 400px;
            overflow-y: scroll;
        }
    }

    &#recognitionModal {
        #giveBadge {
            .card-stats {
                cursor: pointer;
            }
        }
    }
}

.post-border-bottom {
    // border-bottom: 2px solid $tint-blue-color5 !important;
    &:after {
        content: '';
        width: 0px;
        height: 2px;
        display: block;
        background-color: $tint-blue-color5;
        @include transition(width .4s cubic-bezier(0.7, .1, .6, .1));
    }
}

.post-border-bottom.active {
    &:after {
        width: 100%;
    }
}

.selected-badge-border {
    border: 2px solid $main-blue-color;
}

// .card {

//     &.card-stats {
//         border: 0;
//     }
//     &.card-stats {
    
//         &.selected-badge-border {
//             border: 2px sold $main-red-color !important;
//             &:before, &:after {
//                 width: 200px;
//             }
//             .curtain {
//                 &:before, &:after {
//                     height: 270px;
//                 }
//             }
//         }
    
//         &:before, &:after {
//             content: '';
//             width: 0px;
//             height: 2px;
//             position: absolute;
//             left: 0;
//             background-color: $main-red-color;
//             @include transition(all .6s ease);
//         }
    
//         &:before {
//             top: 0;
//         }
    
//         &:after {
//             bottom: 0;
//         }
    
//         &:hover:before {
//             width: 200px;
//         }
    
//         &:hover:after {
//             width: 200px;
//         }
        
//         .curtain {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 200px;
//             height: 270px;
//             // z-index: -10;
    
//             &:before, &:after {
//                 content: '';
//                 width: 2px;
//                 height: 0px;
//                 position: absolute;
//                 top: 0;
//                 background-color: $main-red-color;
//                 @include transition(all .4s ease);
//                 // z-index: 10;
//             }
    
//             &:before {
//                 left: 0;
//             }
        
//             &:after {
//                 right: 0;
//             }
    
//             &:hover:before {
//                 height: 270px;
//             }
    
//             &:hover:after {
//                 height: 270px;
//             }
//         }
//     }
// }



// Small to Large devices (desktops, 992px and up)
@media (max-width: 1199.8px) { 
    .feed-container {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 992px) { 
    .card {
        &.card-stats {
            box-shadow: 0px 0px 5px 2px rgba($color: #d3d3d3, $alpha: .80);
            @include transition(box-shadow .4s);
            @include transition(transform .4s);
            &:hover {
                box-shadow: 1px 1px 11px 3px rgba(79, 77, 77, .3);
                transform: scale(1.02,1.02);
                z-index: 9999;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .feed-container {
        width: 85% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}