@import "./../../utilities/variables";
@import "./../../utilities/mixins";




.header {
    .card {
        height: 120px !important;
    }
}   
.feed-container {
    .post {

        z-index: 80;
        cursor: pointer;
        .nav-tabs {

            border: 0;
            .nav-link {

                border: 0;
                &.active {
                    background-color: transparent;
                }
            }
        }
        
        button {
            background-color: $main-blue-color;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .contentWrapper {

            width: calc(100% - 50px);
            #postContent {

                @include transition(all .4s ease-in);
                &:empty:before {
                    content: attr(data-placeholder);
                }

                &:focus {
                    outline: 0 !important;
                }
            }

            .emojionearea {

                background-color: $white;
                border: 0 !important;
                box-shadow: none !important;
                min-height: 50px;
                &.emojionearea-disable {
                    
                    background-color: $white;
                    &:before {
                        background-color: $white;
                        line-height: 100%;
                    }
                }

                .emojionearea-editor {

                    min-height: 50px;
                    &:empty:before {
                        color: $text !important;
                        line-height: 100%;
                    }

                    &:before {

                        color: $text !important;
                        font-size: 1rem;
                        line-height: 100%;
                        &:empty:before {
                            color: $text !important;
                        }
                    }
                }
            }
        }

        .badge {
            &.badge-primary {
                background-color: $tint-blue-color2;
                color: $main-blue-color;
                &:hover {
                    background-color: $main-blue-color;
                    color: $white;
                }
            }

            &.point-recognition {
                
                &:focus {
                    input {
                        width: 100px;
                    }
                }

                input {
                    @include transition(all .4s ease-out);
                    border: none;
                    border-radius: $radius;
                    text-align: center;
                    width: 0;
                    &:focus {
                        width: 100px;
                    }
                }
            }
        }

        // .custom-checkbox {

        //     .custom-control-label  {
        //         &:before, &:after {
        //             border-radius: 50%;
        //         }
        //     }
        //     .custom-control-input:checked~.custom-control-label:before {
        //         background-color: $main-blue-color;
        //     }
            
        // }
    }
}

.post-border-bottom {
    // border-bottom: 2px solid $tint-blue-color5 !important;
    &:after {
        content: '';
        width: 0px;
        height: 2px;
        display: block;
        background-color: $tint-blue-color5;
        @include transition(width .4s cubic-bezier(0.7, .1, .6, .1));
    }
}

.post-border-bottom.active {
    &:after {
        width: 100%;
    }
}

// Small to Large devices (desktops, 992px and up)
@media (max-width: 1199.8px) { 
    .feed-container {
        width: 100%;
        margin: auto;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .feed-container {
        width: 85% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}