{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="Recognition" />
    <meta name="description" content="Recognize your colleagues" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav class="fixed-top text-center p-2">
            <a href="{% url 'frontview:home' %}">
                <img class="img-fluid bilono-logo" alt="bilono logo" src="{% static 'image/bilono_logo.svg' %}" />
            </a>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
{% block script %}{% endblock %}
</html>
