{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="Recognition" />
    <meta name="description" content="Recognize your colleagues" />
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/navbar.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% include './navbar.html' %}
        <div class="bilino-main main-is-partially-visible">
            {% include './header.html' %}
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/index.js' %}"></script>
{% block script %}{% endblock %}
</html>