<footer class="p-1">
    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-xl-8 py-5">
            <div class="row">
                <div class="col">
                    <ul class="footer-list">
                        <li class="footer-list-item h6 border-0 pb-2">Using Bilono</li>
                        <li class="footer-list-item border-0 pb-1">Product</li>
                        <li class="footer-list-item border-0 pb-1">Enterprise</li>
                        <li class="footer-list-item border-0 pb-1">Pricing</li>
                        <li class="footer-list-item border-0 pb-1">Support</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="footer-list">
                        <li class="footer-list-item h6 border-0 pb-2">Bilono</li>
                        <li class="footer-list-item border-0 pb-1">Jobs</li>
                        <li class="footer-list-item border-0 pb-1">Customers</li>
                        <li class="footer-list-item border-0 pb-1">Developers</li>
                        <li class="footer-list-item border-0 pb-1">Events</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="footer-list">
                        <li class="footer-list-item h6 border-0 pb-2">Legal</li>
                        <li class="footer-list-item border-0 pb-1">Privacy</li>
                        <li class="footer-list-item border-0 pb-1">Security</li>
                        <li class="footer-list-item border-0 pb-1">Terms of service</li>
                        <li class="footer-list-item border-0 pb-1">Policies</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="footer-list">
                        <li class="footer-list-item h6 border-0 pb-2">Handy Links</li>
                        <li class="footer-list-item border-0 pb-1">Download desktop app</li>
                        <li class="footer-list-item border-0 pb-1">Download mobile app</li>
                        <li class="footer-list-item border-0 pb-1">Brand guidlines</li>
                        <li class="footer-list-item border-0 pb-1">Bilono at work</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>