{% load static %}

<header id="header">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hajar Sadeghi
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Help</a>
            <a class="dropdown-item" href="#">Log Out</a>
        </div>
    </div>
    <div class="menu-collapse">
        <span class="menu-collapse-btn">
            <span class="menu-button"></span>
        </span>
    </div>
</header>