{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar navbar-top navbar-expand-md navbar-dark main-header d-none d-md-block" style="height: 70px">
    <div class="container-fluid">
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="media align-items-center h3">
                        {% if space_list|length > 1 %}
                            <div class="light-on-hover media align-items-center">
                                <span >{{space.name}}</span>
                                <i class="material-icons">arrow_drop_down</i>
                            </div>
                        {% else %}
                            <span style="cursor:text">{{space.name}}</span>
                        {% endif %}

                    </div>
                </a>
                {% if space_list|length > 1 %}
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">{% trans "Other spaces" %}!</h6>
                        </div>
                        {% for tmp_space in space_list %}
                            {% if tmp_space.slug != space.slug %}
                                <a href="{% url 'frontview:dashboard:feed' tmp_space.slug %}" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>{{ tmp_space.name }}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        </ul>
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">
                                search
                            </i>
                        </span>
                    </div>
                    <input class="form-control search-input" placeholder="{% trans 'Search' %}" type="text">
                </div>
            </div>
        </form>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle bg-white shadow-sm">
                            {% if request.user.profile_picture %}
                                <img class="img-fluid" src="{{request.user.profile_picture.url}}" alt="profile picture" />
                            {% else %}
                                <span class="text-dark">{{request.user.name_chars}}</span>
                            {% endif %}
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm font-weight-bold">
                                {{request.user.get_full_name}}
                            </span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">{% trans "Welcome" %}!</h6>
                    </div>
                    <a href="{% url 'frontview:dashboard:profile' space.slug request.user.id %}" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>{% trans "My profile" %}</span>
                    </a>
                    <a href="/" class="dropdown-item">
                        <i class="ni ni-settings-gear-65"></i>
                        <span>{% trans "Help" %}</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:logout' %}" class="dropdown-item">
                        <span class="ml-3">{% trans "Logout" %}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
