{% load static %}

<nav class="bilino-navbar" id="navbar">
    <div class="navbar-links">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Badges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Budgets</a>
            </li>
        </ul>
    </div>
</nav>