@import "./../utilities/variables";
@import "./../utilities/mixins";
@import "../../css/index.scss";
@import "../../css/header.scss";
@import "../../css/navbar.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: $tint-blue-color1;
    .container-fluid {
        padding: 0;
        margin: 0;

        .bilino-main {
            &.main-is-fully-visible {
                width: 100%;
            }
            &.main-is-partially-visible {
                width: 100%;
                padding-left: $sidebar-width;
            }
        }
    }

    .tinted {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .6);
        z-index: 8000;
    }
}
