@import "./../../utilities/variables";
@import "./../../utilities/mixins";




.navbar.navbar-top {
    background: linear-gradient(87deg,#5e72e4,#825ee4)!important
}

.container {
    button.standard-btn {
        background-color: $main-red-color;
        color: $white;
        border: none;

        &:hover, &:focus {
            color: $white;
            background-color: $tint-red-color5;
            --box-shadow-color: $tint-red-color5;
        }
    }

    .budget-table {
        .table-head {
            margin-bottom: 1rem;
        }
        .table-body {
            background-color: $white;
            border-radius: $radius;
            margin-bottom: 1rem;
            min-height: 70px;
            box-shadow: 1px 1px 5px 1px $tint-blue-color3;
        }
    }
    
    .form-group{
        p {
            font-size: 12px;
        }
        .error-field {
            box-shadow: 0 0 0.05rem 0.1rem rgba(255,62,88,0.7);
        }
    }

    .modal {
        button.standard-btn {
            max-width: 200px;
        }
        #create_budget_submit{
            &:hover, &:focus {
                color: $white;
                background-color: $tint-red-color5;
                --box-shadow-color: $tint-red-color5;
                outline: none;
                border: none;
            }
        }
    }
}

@media (min-width: 576px){
    .modal {
        .modal-dialog {
            max-width: 700px;
            .modal-body {
                padding: 1rem 6rem;

                select {
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;

                    -moz-appearance: none;
                    -moz-border-radius: 0px;
                }

                .collapse {

                    max-height: 300px;
                    overflow: scroll;
                    .search-item {
                        border: 1px solid #ced4da;
                        border-radius: $radius;
                    }
                }
            }
        }
    }
}