@import "./../../utilities/variables";
@import "./../../utilities/mixins";




.container {
    button.standard-btn {
        background-color: $tint-blue-color5;
        color: $white;
        border: none;

        &:hover, &:focus {
            color: $white;
            background-color: $tint-blue-color5;
            --box-shadow-color: $tint-blue-color5;
        }
    }

    .budget-table {
        .table-head {
            margin-bottom: 1rem;
        }
        .table-body {
            background-color: $white;
            border-radius: $radius;
            margin-bottom: 1rem;
            min-height: 70px;
            box-shadow: 1px 1px 5px 1px $tint-blue-color3;
        }
    }
    
    .modal {
        button.standard-btn {
            max-width: 200px;
        }
    }
}

@media (min-width: 576px){
    .modal {
        .modal-dialog {
            max-width: 700px;
            .modal-body {
                padding: 1rem 6rem;

                select {
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;

                    -moz-appearance: none;
                    -moz-border-radius: 0px;
                }

                .collapse {

                    max-height: 300px;
                    overflow: scroll;
                    .search-item {
                        border: 1px solid #ced4da;
                        border-radius: $radius;
                    }
                }
            }
        }
    }
}